.Tapahtumat {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Mökki {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Hallitus {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h1 {
  color: red;
}

header {
  background-color: darkmagenta;
}

.Eka {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Toinen {
  background-color: black;
}

.Kolmas {
  background-color: green;
}

footer {
  background-color: red;
  min-height: 20vh;
}