.Otsikko {
  background-color: brown;
  margin-top: 0;
  min-width: 100vh;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.Tervetuloa {
  min-height: 40vh;
  margin-top: auto;
  margin-bottom: auto;
}

.Tapahtumat {
  min-height: 50vh;
  text-align: center;
  min-height: 100vh;
}


.Container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.Item {
  flex-grow: 2;
  flex-shrink: 2;
  min-width: 400px;
}


.Mökki {
  text-align: center;

}

#Kuva {
  width: 50%;
  height: auto;
  border-radius: 5px;
}

.mokkidiv {
  max-width: 70%;
  border-radius: 5px;
  background-color: #dcdcdc;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
  color: black;
}

.Hallitus {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Eka {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Toinen {
  background-color: blue;
}

.Kolmas {
  background-color: green;
}

footer {
  background-color: red;
  min-height: 20vh;
}